#grid {
    display: inline-block;
    flex-direction: column;
}

.row{
    display: flex;
}

.cell{
    height: 20px;
    width: 20px;
    border: 0.1px solid black;
    /* border-radius: 50%; */
    display: flex;
    font-size: small;
    color: grey;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: antiquewhite;
    box-sizing: border-box;
}

.obstacle-cell {
    background-color: black;
}

.visited-neighbor-cell {
    background-color: #f7ce61;
}

.final-path-cell {
    background-color: #c01f2f;
}

.unreachable-destination-cell {
    background-color: grey;
}
